@import './_themes.css';
@import './_variables.css';


html, body, #app {
    height: 100%;
    margin: 0;
}

header {
    margin: 0;
}

h2{
    text-align: center;
}

nav {
    margin: var(--margin-md);
    padding: var(--padding-xl);
}

main {
    border-radius: var(--border-radius-lg);
    margin-top: var(--margin-md);
    margin-right: var(--margin-md);
    margin-left: var(--margin-md);
}

section {
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);
    margin-right: var(--margin-md);
    padding: var(--padding-lg);

}

footer {
    font-size: small;
    text-align: center;
}

@media (min-width: 1024px) {
    nav {
        border-top-left-radius: var(--border-radius-md);
        border-bottom-left-radius: var(--border-radius-md);
    }
    section {
        border-top-right-radius: var(--border-radius-md);
        border-bottom-right-radius: var(--border-radius-md);
    }
}
@media (max-width: 1023px) {
    nav {

    }
}