@import './_themes.css';
@import './_variables.css';


html, body, #app {
    height: 100%
}

header {
    border-radius: var(--border-radius-lg);
}

h2{
    text-align: center;
}

nav {
    margin: var(--margin-md);
    padding: var(--padding-xl);
}

main {
    border-radius: var(--border-radius-lg);
    margin-top: var(--margin-md);
}

section {

}

@media (min-width: 1024px) {
    nav {
        border-top-left-radius: var(--border-radius-md);
        border-bottom-left-radius: var(--border-radius-md);
    }
    section {
        border-top-right-radius: var(--border-radius-md);
        border-bottom-right-radius: var(--border-radius-md);
    }
}
@media (max-width: 1023px) {
    nav {

    }
}