/* theme palette*/
:root {
  /* --color-background: var(--vt-c-white); */
  --primary-900: #3e2723;
  --primary-800: #4e342e;
  --primary-700: #5d4037;
  --primary-600: #795548;
  --primary-500: #8d6e63;
  --primary-400: #8d6e63;
  --primary-300: #a1887f;
  --primary-200: #bcaaa4;
  --primary-100: #d7ccc8;
  --primary-050: #efebe9;

  --complementary-900: #233941;
  --complementary-800: #344f58;
  --complementary-700: #41626d;
  --complementary-600: #507783;
  --complementary-500: #5c8694;
  --complementary-400: #7498a5;
  --complementary-300: #8cacb7;
  --complementary-200: #abc4cd;
  --complementary-100: #c9dce2;
  --complementary-050: #e6f2f7;
  
  --analogous-900: #4b2936;
  --analogous-800:#5c3642;
  --analogous-700:#6d414c;
  --analogous-600:#7e4d58;
  --analogous-500: #8c5661;
  --analogous-400:#9e6f78;
  --analogous-300:#b28990;
  --analogous-200:#cbaab0;
  --analogous-100:#e5cbcf;
  --analogous-050:#fce8e9;

  --triadic-900: #626d41;
  --triadic-800: #848f50;
  --triadic-700: #99a358;
  --triadic-600: #aeb763;
  --triadic-500: #bfc76c;
  --triadic-400: #c9cf80;
  --triadic-300: #d3d897;
  --triadic-200: #e0e3b3;
  --triadic-100: #eceed0;
  --triadic-050: #f8f8ec;
}

:root {
  --primary: var(--primary-600);
  --complementary: var(--complementary-700);
  --analogous: var(--analogous-700);
  --triadic: var(--triadic-900)
}

body {
  background-color: var(--primary-300);
}

header {
  color: white;
  background-color: var(--primary-900);
}

nav {
  background-color: var(--primary-800);
}

main {
  background-color: var(--primary-500);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {

  }
} */
